.topBar {


  // &_super {
  //   display: flex;
  //   height: 2rem;
  //   background: rgb(55, 89, 90);
  //   background: linear-gradient(
  //     180deg,
  //     rgba(55, 89, 90, 1) 0%,
  //     rgba(121, 144, 145, 1) 56%,
  //     rgba(249, 250, 250, 1) 93%,
  //     rgba(255, 255, 255, 1) 100%
  //   );
    
  // }
  // background-color: #37595a;

 
  p {
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }
  > a {
    > img {
      object-fit: cover; /* Recorta la imagen sin deformarla */
      object-position: center;
      max-width: 18rem;
    }
  }
}
